* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
body {
  background-color: #c0c6dc;
}
h2 {
  font-weight: 700;
  font-size: 22px;
  color: #1f2937;
}
section h2 {
  margin-bottom: 8px;
}
ol {
  padding: 0 0 0 20px;
}
.wrapper {
  border-radius: 40px;
  background-color: white;
  width: 1200px;
  margin: 27px auto;
  display: flex;
  padding: 13px 18px;
  gap: 60px;
}

aside {
  background-color: #e0ebfe;
  border-radius: 40px;
  width: 370px;
}
.aside-box {
  padding: 40px;
}
.buttons-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buttons-box button {
  border-radius: 16px;
  padding: 14px 16px;
  width: 290px;
  height: 48px;
  border: 1px solid #7549ea;
  font-weight: 700;
  font-size: 16px;
}
.top-button {
  background: #7549ea;
  color: #fff;
}
.bottom-button {
  background: inherit;
  color: #7549ea;
}
.friends-box {
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.friends-box span {
  font-weight: 400;
  font-size: 22px;
  color: #4a5161;
}
.friends-box h2 {
  display: flex;
  gap: 16px;
}
.interests {
  width: 290px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}
.interests p {
  border-radius: 6px;
  padding: 0px 8px;
  height: 24px;
  background: rgba(117, 73, 234, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #7549ea;
}

.title {
  display: flex;
  gap: 12px;
  margin: 60px 0 24px 0;
  align-items: center;
}
.owner {
  border-bottom: 1px solid #e0eafe;
  margin: 24px 0;
}
.info-box > p {
  display: flex;
  gap: 24px;
}
.title-text {
  width: 65px;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #1f2937;
}
.info-box_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #4a5161;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #4a5161;
  margin: 24px 0;
}
li {
  padding-left: 8px;
  margin-bottom: 8px;
}
li::marker {
  font-weight: bold;
}
.list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7549ea;
}
.design {
  margin: 24px 0;
}
.design-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #1f2937;
  padding-left: 16px;
}
.design-item li {
  font-weight: 400;
  color: #4a5161;
  margin: 0 0 0 0;
}
.design-item li {
  list-style-type: none;
}

.design-item li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  margin-right: 9px;
  margin-bottom: 3px;
}

.favorite-dish {
  margin-bottom: 60px;
}
.favorite-dish h2 {
  margin-bottom: 16px;
}
.favorite-dish span {
  font-weight: 700;
  color: #1f2937;
}
